$white-color: #fff;
$black-color: #10151b;
$primary-color: #141d24;
$secondary-color: #f47c70;
$green-color: #a3fc6f;
$title-color:  #01e7bf;
$font-Kaushan: "Kaushan Script", cursive, sans-serif;

$test: #b600b6