/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~src/config.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  min-height: 100vh;
  background-color: $primary-color;
  @include flex(column, none, none);
  overflow-x: hidden;
  color: $white-color;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  // overflow-y: hidden;
}

img {
  width: 100%;
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.active {
  background-color: $secondary-color;
}

.modal-bg .mat-dialog-container {
  background-color: $primary-color;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.9);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: $title-color;
  -webkit-box-shadow: 0 0 0px 1000px $primary-color inset;
  box-shadow: 0 0 0px 1000px $primary-color inset;
  transition: background-color 5000s ease-in-out 0s;
}


.mobile-menu-open {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}