<section class="performance">
  <div class="performance-container">
    <h1 class="performance-title">
      <span [@showMainTitle]>Hello, my name is Roman Rudyk</span>
    </h1>
    <p class="perforrmance-sub-text">
      <span [@showMainTitleSub]>I am a FRONT-END DEVELOPER</span>
    </p>
    <div class="performance-logo" [@showMainLogo]>
      <img src="../../assets/img/superhero_logo.png" alt="Logo Roman Rudyk" />
    </div>
  </div>
</section>

<div class="main-divider" [@dividerMain]></div>

<section class="about">
  <div
    class="about-development-img-container"
    [@aboutImg]
    (@aboutImg.done)="aboutImgDone($event)"
  >
    <img
      src="../../assets/img/working_from_anywhere.svg"
      alt="My working place from anywhere"
    />
  </div>
  <div
    class="main-divider"
    data-aos="fade"
    data-aos-duration="1000"
    data-aos-easing="ease-in-out"
    data-aos-once="true"
  ></div>

  <div class="about-text-container">
    <h2
      class="about-text-title"
      data-aos="flip-left"
      data-aos-duration="1000"
      data-aos-easing="ease-in-out"
      data-aos-once="true"
    >
      BACKGROUND
    </h2>
    <p
      class="about-text"
      data-aos="fade"
      data-aos-duration="1000"
      data-aos-easing="ease-in-out"
      data-aos-delay="300"
      data-aos-once="true"
    >
      I’m an enthusiastic web developer who loves everything about the web and
      who is ready to learn and try something new.
    </p>
    <div
      class="devider"
      data-aos="fade"
      data-aos-duration="1000"
      data-aos-easing="ease-in-out"
      data-aos-delay="300"
      data-aos-once="true"
    ></div>
    <p
      class="about-text"
      data-aos="fade"
      data-aos-duration="1000"
      data-aos-easing="ease-in-out"
      data-aos-delay="500"
      data-aos-once="true"
    >
      I've lived in lots of different places and have worked in lots of
      different jobs. My vast experience in different spheres helps me easily
      get along with new people and acquire new knowledge in a short time.
    </p>
    <div
      class="devider"
      data-aos="fade"
      data-aos-duration="1000"
      data-aos-easing="ease-in-out"
      data-aos-delay="500"
      data-aos-once="true"
    ></div>
    <p
      class="about-text"
      data-aos="fade"
      data-aos-duration="1000"
      data-aos-easing="ease-in-out"
      data-aos-delay="700"
      data-aos-once="true"
    >
      I’m ready to implement my life experience in the creation of high-quality
      innovative websites and provide the best services to the customers around
      the globe.
    </p>
  </div>
</section>
